@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Bruno Ace SC", sans-serif;
  color: #fff;
  background-color: #000000;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  font-family: inherit;
}

/* General Style */

/* Background */
.primary-bg {
  background-color: #000000;
}

.secondary-bg {
  background-color: #fff;
}

/* Font */
.primary-text {
  color: #d1d1d1;
}

.secondary-text {
  color: #00ffa3;
}

.third-text {
  color: #000000;
}

.fs-xl {
  font-size: 128px;
}

.fs-l {
  font-size: 64px;
}

.fs-m {
  font-size: 24px;
}

.fs-s {
  font-size: 20px;
}

.text-right {
  text-align: right;
}

/* Display Flex*/

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.fw-wrap {
  flex-wrap: wrap;
}

.jc-sb {
  justify-content: space-between;
}

.jc-fe {
  justify-content: flex-end;
}

.ai-ct {
  align-items: center;
}

/* Margin*/

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-113 {
  margin-right: 113px;
}

.mr-134 {
  margin-right: 134px;
}

.ml-550 {
  margin-left: 550px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}
/* Width & height*/

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

/* Component Style */
.container {
  width: 1296px;
  margin: 0 auto;
}

.section {
  padding: 160px 0px 160px 0px;
}

.card {
  padding: 16px;
  border: 1px solid #e3e3e3;
}

.text {
  max-width: 526px;
}

/* Specific Style */

.nav {
  padding: 52px 0px;
}

.hero {
  padding-top: 72px;
  padding-bottom: 32px;
}

.btn {
  border-radius: 32px;
  padding: 12px 24px;
}

.intro {
  background-image: url("../assets/week02/background-img.png");
}

.about {
  color: #15161d;
}

.contact {
  background: linear-gradient(#050014 100%, #01021e 89%);
  padding: 129px 0px 129px 0px;
}

.footer {
  padding: 40px 0px 40px 0px;
  text-align: center;
}

.social-img {
  transition: 1s;
  filter: drop-shadow(0px 4px 4px rgb (0, 0, 0, 0.08));
}

.social-img:hover {
  filter: drop-shadow(0px 0px 16px rgb(144, 148, 255));
  transition: 1s;
}
